{% extends "base.html" %}

{% block title %}Nueva Categoría{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2>Añadir Nueva Categoría</h2>
    <form action="{{ url_for('bp.nueva_categoria') }}" method="post">
        <div class="form-group">
            <label for="nombre">Nombre de la Categoría:</label>
            <input type="text" class="form-control" id="nombre" name="nombre" required>
        </div>
        <button type="submit" class="btn btn-primary">Crear Categoría</button>
    </form>
</div>
{% endblock %}
